<mat-toolbar color="primary">
  <mat-toolbar-row class="row between-xs row1">
    <nav>
      <a mat-button routerLink="/home" routerLinkActive="active">Home</a>
      <a mat-button routerLink="/products" routerLinkActive="active"
        >Products</a
      >
      <a mat-button routerLink="/contact" routerLinkActive="active">Contact</a>
    </nav>
    <div>
      <button mat-raised-button matBadge="8" matBadgeColor="warn">
        <mat-icon>shopping_cart</mat-icon>
        Cart
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
