<mat-toolbar color="primary" class="row1">
  <!-- <mat-toolbar-row>
            <span>desingned by juan</span>
            <span class="spacer"></span>
            <button mat-flat-button color="primary">
                <mat-icon>verified_user</mat-icon>
            </button>
    </mat-toolbar-row> -->
  <mat-toolbar-row class="row1 row between-xs center-xs start-sm">
    <span class="col-sm-3 col-xs-12 col2">Desingned by ...</span>
    <div class="col-sm-9 col-xs-12 col2">
      <div class="row end-sm center-xs">
        <button mat-flat-button color="primary">
          <mat-icon>verified_user</mat-icon>
        </button>
        <button mat-flat-button color="primary">
          <mat-icon>verified_user</mat-icon>
        </button>
        <button mat-flat-button color="primary">
          <mat-icon>verified_user</mat-icon>
        </button>
        <button mat-flat-button color="primary">
          <mat-icon>verified_user</mat-icon>
        </button>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
